.cota-wrapper {
    font-family: "open sans", "PingFang SC", "Microsoft Yahei", "Wenquanyi Micro Hei", sans-serif;
    color: #515a6e;
    font-size: 16px;

    a {
        box-shadow: none;
        box-sizing: content-box;
    }

    img {
        display: inline-block;
        margin: 0;
    }

    .comment-box {
        width: 100%;
        box-shadow: 0 5px 20px -5px #bbb;
        position: relative;
        margin-bottom: 50px;
        border-radius: 4px;
        overflow: hidden;

        .comment-input {
            width: 100%;
            height: 90px;
            border-color: transparent;
            box-sizing: border-box;
            padding: 15px;
            outline: none;
            font-size: 1em;
            resize: none;
        }

        .cota-info {
            font-size: .6em;
            color: #fff;
            background-color: #000;
            position: absolute;
            border-radius: 50%;
            top: 5px;
            display: flex;
            width: 15px;
            height: 15px;
            align-items: center;
            justify-content: center;
            opacity: .3;
            right: 5px;
            cursor: pointer;
            transition: opacity .4s ease;

            &:hover {
                opacity: .5;

                a {
                    right: 0;
                    visibility: visible;
                }
            }

            a {
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #000;
                height: 15px;
                padding: 0 20px 0 10px;
                position: absolute;
                right: -200px;
                z-index: -1;
                border-radius: 15px;
                text-decoration: none;
                transition: all .4s ease;
                width: 73px;
                visibility: hidden;
            }
        }

        #comment-btns {
            background-color: #f9fafb;
            display: flow-root;

            .emoji, .user-info-button {
                position: relative;
                float: left!important;
                padding-top: 11.5px;
                padding-bottom: 11.5px;
                line-height: 1.1em;
                height: 16px;

                img {
                    width: 1.2em;
                    position: relative;
                    top: 1px;
                    opacity: .6;
                }
            }

            .user-info-button {
                padding-right: 7.5px;
                padding-left: 7.5px;
                margin-left: 7.5px;
                
                img {
                    opacity: .8;
                }
            }

            .emoji {
                padding-left: 7.5px;
                padding-right: 7.5px;
            }

            a {
                padding: 10px 15px;
                float: right;
                cursor: pointer;
                font-size: .8em;

                &.submit {
                    background-color: #5bb7ed;
                    color: #fff;
                    line-height: 1.5em;
                }
            }
        }
    }

    #emoji-select-box, #user-info-box {
        position: absolute;
        visibility: hidden;
        top: 0;

        &.show-box {
            animation: showBox .45s ease forwards;
        }

        &.hide-box {
            animation: hideBox .45s ease forwards;
        }

        .box-content {
            padding: 12px 16px;
            background-color: #fff;
            background-clip: padding-box;
            box-shadow: 0 2px 8px rgba(0,0,0,0.15);
            max-width: 300px;
            border-radius: 4px;

            a {
                cursor: pointer;
                width: 22px;
                margin-right: 2px;

                &:nth-child(8n) {
                    margin-right: 0px;
                }
            }

            .user-avatar {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 50%;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }

            .login-button {
                font-size: 0.6em;
                width: 50px;
                background: #5bb7ed;
                color: #fff;
                border-radius: 4px;
                height: 25px;
                display: block;
                line-height: 25px;
                text-align: center;
                margin: 5px 0 0 calc(100% - 50px);
            }

            .user-info {
                display: flex;
                align-items: center;

                &.logout {
                    .user-avatar {
                        position: relative;
                        cursor: pointer;

                        &:before {
                            content: 'X';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 0;
                            color: #fff;
                            z-index: 5;
                            font-size: 1.4em;
                            transition: opacity .45s ease;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            border-radius: 50%;
                            background: #000;
                            opacity: 0;
                            transition: opacity .45s ease;
                        }

                        &:hover {
                            &:before {
                                opacity: 1;
                            }

                            &:after {
                                opacity: .5;
                            }
                        }
                    }
                }

                .user-login {
                    display: inline-block;
                    width: 200px;
                    margin-left: 20px;

                    form {
                        width: 100%;

                        input {
                            display: block;
                            width: 100%;
                            margin: 0 0 5px;
                            border: 1px solid #dcdee2;
                            box-sizing: border-box;
                            height: 22px;
                            border-radius: 4px;
                            padding: 0 5px;
                            outline: none;
                            color: #515a6e;

                            &::-webkit-input-placeholder {
                                color: #c5c8ce;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .info-detail {
                    margin-left: 20px;

                    .email {
                        color: #808695;
                        font-size: .6em;
                        margin-bottom: 5px;
                    }

                    .nickname {
                        font-size: 1em;
                    }
                }
            }
        }

        .box-arrow {
            position: absolute;
            display: block;
            background: transparent;
            border-style: solid;
            border-width: 4.24264069px;
            top: -4px;
            border-top-color: #fff;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: #fff;
            left: 40px;
            transform: rotate(45deg)
        }
    }

    & > ul {
        padding-left: 0px;
    }

    #comment-list {
        list-style: none;

        & > li > ul, & > li > ul > li > ul {
            padding-left: 70px;
        }

        li, ul {
            list-style: none;
            padding-left: 0px;
        }

        .comment-list-item {
            position: relative;

            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                box-shadow: 0 5px 20px -5px #bbb;

                img {
                    width: 50px;
                    height: 50px;
                }
            }

            .comment-detail {
                width: calc(100% - 70px);
                margin-left: 70px;
                color: #515a6e;
                padding-top: 5px;

                .comment-info {
                    position: relative;
                    line-height: 1em;
                    margin-bottom: 3px;

                    .not-trust {
                        float: left;
                        margin-right: 5px;
                        width: 10px;
                        height: 10px;
                        background: #ff9900;
                        position: relative;
                        top: calc(1em / 2);
                        transform: translateY(-50%);
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    .nickname {
                        float: left;
                        text-decoration: none;
                        color: #17233d;
                        cursor: pointer;
                    }

                    .comment-date {
                        color: #808695;
                        font-size: .6em;
                        position: relative;
                        margin-left: 19px;

                        &:before {
                            content: '';
                            position: absolute;
                            left: -9px;
                            width: 2px;
                            height: 2px;
                            background: #999;
                            border-radius: 50%;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }

                    .reply-comment {
                        float: right;
                        opacity: 0;
                        transition: opacity .45s ease;
                        font-size: .8em;
                        padding: 5px 10px;
                        cursor: pointer;
                        background-color: #f9fafb;
                        position: absolute;
                        right: 0;
                        top: -10px;
                    }
                }

                .comment-content {
                    padding-bottom: 25px;
                }

                .comment-box {
                    margin-top: 15px;
                }
            }

            .child {
                .avatar {
                    width: 40px;
                    height: 40px;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                .comment-detail {
                    width: calc(100% - 60px);
                    margin-left: 60px;
                }
            }
        }
    }

    #load-more {
        padding: 10px 15px;
        border-radius: 4px;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid #ddd;
        color: #ddd;
        cursor: pointer;
        background-color: transparent;
        transition: all .45s ease;
        font-size: .8em;

        &:hover {
            color: #5bb7ed;
            border-color: #5bb7ed;
        }
    }

    #notification {
        position: fixed;
        padding: 10px 15px;
        border: 1px solid #e9e9e9;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        top: -100px; //25px
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        border-radius: 4px;
        max-width: 300px;
        visibility: hidden;
        z-index: 5;

        &.show {
            animation: showNoti .45s ease forwards;
        }

        &.hide {
            animation: hideNoti .45s ease forwards;
        }

        .icon {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 6px;
            filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));

            img {
                width: 30px;
            }
        }

        .content {
            padding-left: 36px;
        }
    }

    .clear {
        clear: both;
    }

    @keyframes showBox {
        0% {
            visibility: visible;
            opacity: 0;
        }

        100% {
            visibility: visible;
            opacity: 1;
        }
    }

    @keyframes hideBox {
        0% {
            opacity: 1;
            visibility: visible;
        }

        100% {
            opacity: 0;
            visibility: hidden;
        }
    }

    @keyframes showNoti {
        0% {
            visibility: visible;
            top: -100px;
        }

        100% {
            visibility: visible;
            top: 25px;
        }
    }

    @keyframes hideNoti {
        0% {
            visibility: visible;
            top: 25px;
        }

        100% {
            visibility: hidden;
            top: -100px;
        }
    }
}
